.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.android/
.ios/
ios/Flutter/Generated.xcconfig
linux/flutter/ephemeral/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/
*.iml
